:root {
  --primary: #ff0000;
  --secondary: #ffcc80;
  --tertiary: #3f69ff;
  --quaternary: #809cff;
  --company: #ff6e40;
  --shopping-area: #0daec3;
  --tech: #002cc9;
  --text-color-1: #000000;
  --text-color-2: #353535;
  --text-color-3: #767676;
  --divider-color: #cecece;
  --background-color: #f0f1f2;
  --background-gary: #ebebeb;
}
