@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.markdown {
  // heading & paragraph
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0.75rem 0;
    line-height: 2.5;
  }

  // links
  a {
    text-decoration: underline;
    color: var(--primary);
    font-weight: 500;
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      text-decoration: none;
      color: unset;
      font-weight: unset;
    }
  }

  // images
  img {
    display: block;
    margin: auto;
    width: clamp(280px, 100%, 768px);
    border-radius: 0.5rem;
    // aspect-ratio: 16 / 9;
    // object-fit: cover;
  }

  // bold
  strong {
    font-weight: 700;
  }

  // italic
  em {
    font-style: italic;
  }

  // strikethrough
  del {
    text-decoration: line-through;
  }

  // ordered & unordered list
  ul,
  ol,
  li {
    margin-left: 0.5rem;
    line-height: 2.5;
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
  }

  ul ul,
  ol ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 1rem;
  }

  ol ol,
  ul ol {
    list-style-type: lower-latin;
    list-style-position: outside;
    margin-left: 1rem;
  }

  // task list
  ul.contains-task-list {
    li.task-list-item {
      list-style-type: none;

      input[type='checkbox' i] {
        appearance: auto;
      }
    }
  }

  // blockquote
  blockquote {
    padding: 0 1rem;
    border-left: 0.25rem solid var(--divider-color);
    color: var(--text-color-3);

    * {
      font-family: 'Noto Serif', serif;
      line-height: 2.5;
    }

    blockquote {
      padding-right: 0;
    }
  }

  // code
  code,
  tt {
    margin: 0.75rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--divider-color);
    background-color: var(--background-color);
    font-family: monospace;
  }

  pre {
    margin: 0.75rem 0;
    padding: 1.5rem;
    max-width: 100%;
    background-color: var(--background-color);
    white-space: pre-wrap; /* 或 pre-line，看你想要折行還是維持格式 */
    word-break: break-word; /* 防止超長單字撐破 */
    overflow-x: auto;

    code {
      padding: 0;
      border: none;

      span {
        font-size: 14px;
        font-family: monospace;
        line-height: 1.5;
      }
    }
  }

  // horizontal rule
  hr {
    margin: 2rem auto;
    width: 2.5rem;
    border: none;
    border-top: 8px dotted var(--divider-color);
  }

  // table
  table {
    margin: auto;
    padding: 0;
    width: 100%;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    word-break: initial;

    thead {
      background-color: #f8f8f8;
    }

    th {
      font-weight: bold;
      border: 1px solid #dfe2e5;
      border-bottom: 0;
      margin: 0;
      padding: 6px 13px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    tr {
      border: 1px solid #dfe2e5;
      margin: 0;
      padding: 0;

      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
    }

    td {
      border: 1px solid #dfe2e5;
      margin: 0;
      padding: 6px 13px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // footnotes
  sup {
    vertical-align: super;
    font-size: smaller;
  }
}
